@import "tailwindcss";

@theme {
  --color-primary: #f53838;
  --color-secondry: #f53838;
  --color-primary-text: #4f5665;
  --color-heading-text: #0b132a;
}

@layer {
  .section-container {
    @apply mx-w-[1440px] container mx-auto px-4 py-12;
  }
}
